<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Assisted Practice Project - phase 2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
  <servlet-name>get_handler_demo</servlet-name>
    <servlet-class>Get_handler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>get_handler_demo</servlet-name>
    <url-pattern>/gethandlerdemo</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Post_handler_demo</servlet-name>
    <servlet-class>Post_handler</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Post_handler_demo</servlet-name>
    <url-pattern>/posthandlerdemo</url-pattern>
    </servlet-mapping>
    
    <servlet>
       <servlet-name>Generic_demo</servlet-name>
       <servlet-class>Generic_servlet_implementation</servlet-class>
    </servlet>
  
    <servlet-mapping>
       <servlet-name>Generic_demo</servlet-name>
       <url-pattern>/Generic_demo_show</url-pattern>
    </servlet-mapping>
    
   
    <servlet>
    <servlet-name>InterfaceDemo</servlet-name>
    <servlet-class>Servlet_interface_implementation</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>InterfaceDemo</servlet-name>
    <url-pattern>/interface_demo</url-pattern>
  </servlet-mapping>
  
  <filter>
      <filter-name>filter_demo</filter-name>
      <filter-class>Filter_implementation</filter-class>
  </filter>
    
  <filter-mapping>
      <filter-name>filter_demo</filter-name>
      <url-pattern>/myfilterdemo</url-pattern>
  </filter-mapping>
    
    
    
    
    
    <servlet>  
<servlet-name>s1</servlet-name>  
<servlet-class>Session_servlet1</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>s1</servlet-name>  
<url-pattern>/cookies1</url-pattern>  
</servlet-mapping>  
  
<servlet>  
<servlet-name>s2</servlet-name>  
<servlet-class>Session_servlet2</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>s2</servlet-name>  
<url-pattern>/cookies2</url-pattern>  
</servlet-mapping> 



<servlet>  
<servlet-name>url_rewrite1</servlet-name>  
<servlet-class>URL_rewritting_servlet1</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>url_rewrite1</servlet-name>  
<url-pattern>/rewrite1</url-pattern>  
</servlet-mapping>  
  
<servlet>  
<servlet-name>url_rewrite2</servlet-name>  
<servlet-class>URL_rewritting_servlet2</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>url_rewrite2</servlet-name>  
<url-pattern>/rewrite2</url-pattern>  
</servlet-mapping>  
  
  
  
  
  
  <servlet>  
<servlet-name>hidden_field1</servlet-name>  
<servlet-class>hidden_field_1</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>hidden_field1</servlet-name>  
<url-pattern>/hidden_demo1</url-pattern>  
</servlet-mapping>  
  
<servlet>  
<servlet-name>hidden_field2</servlet-name>  
<servlet-class>SecondServlet</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>hidden_field2</servlet-name>  
<url-pattern>/hidden_demo2</url-pattern>  
</servlet-mapping>  


    <servlet>  
<servlet-name>session_tracking_using_html1</servlet-name>  
<servlet-class>session_html1</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>session_tracking_using_html1</servlet-name>  
<url-pattern>/session_html1</url-pattern>  
</servlet-mapping>  
  
<servlet>  
<servlet-name>session_tracking_using_html2</servlet-name>  
<servlet-class>session_html2</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>session_tracking_using_html2</servlet-name>  
<url-pattern>/session_html2</url-pattern>  
</servlet-mapping>  
  
  
  
  
 <servlet>  
    <description></description>  
    <display-name>LoginServlet</display-name>  
    <servlet-name>LoginServlet</servlet-name>  
    <servlet-class>LoginServlet</servlet-class>  
  </servlet>  
  <servlet-mapping>  
    <servlet-name>LoginServlet</servlet-name>  
    <url-pattern>/LoginServlet</url-pattern>  
  </servlet-mapping>  
  <servlet>  
    <description></description>  
    <display-name>ProfileServlet</display-name>  
    <servlet-name>ProfileServlet</servlet-name>  
    <servlet-class>ProfileServlet</servlet-class>  
  </servlet>  
  <servlet-mapping>  
    <servlet-name>ProfileServlet</servlet-name>  
    <url-pattern>/ProfileServlet</url-pattern>  
  </servlet-mapping>  
  <servlet>  
    <description></description>  
    <display-name>LogoutServlet</display-name>  
    <servlet-name>LogoutServlet</servlet-name>  
    <servlet-class>LogoutServlet</servlet-class>  
  </servlet>  
  <servlet-mapping>  
    <servlet-name>LogoutServlet</servlet-name>  
    <url-pattern>/LogoutServlet</url-pattern>  
    </servlet-mapping>  
    
  
  
  
  <display-name>Login logout </display-name>
  <welcome-file-list>
    <welcome-file>LoginForm.html</welcome-file>
    
  </welcome-file-list>
  
  
  
  
</web-app>



    
  