<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Assisted Practice Project - phase 2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
  <servlet-name>get_handler_demo</servlet-name>
    <servlet-class>Get_handler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>get_handler_demo</servlet-name>
    <url-pattern>/gethandlerdemo</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Post_handler_demo</servlet-name>
    <servlet-class>Post_handler</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Post_handler_demo</servlet-name>
    <url-pattern>/posthandlerdemo</url-pattern>
    </servlet-mapping>
    
    <servlet>
       <servlet-name>Generic_demo</servlet-name>
       <servlet-class>Generic_servlet_implementation</servlet-class>
    </servlet>
  
    <servlet-mapping>
       <servlet-name>Generic_demo</servlet-name>
       <url-pattern>/Generic_demo_show</url-pattern>
    </servlet-mapping>
  
</web-app>



    
  